
  <div class="row2">
    <img src="images/{{moviedata.movie_img}}" alt="moviefav" id="moviefav">
  
    <div class="text1">
      <h3>Year: {{moviedata.movie_year}}</h3>
      <h3>Time: {{moviedata.movie_time}}</h3>
      <h3>IMDB-Rating: {{moviedata.movie_rating}}</h3>
      <p>{{moviedata.movie_desc}}</p>
    <a href="/" style="decoration: none;text-decoration: none;">BACK TO MOVIE LIST</a>
    </div>
  </div>